/* ==========================================================================
   GOOGLE FONT IMPORT LINKS
   ========================================================================== */

/*Poppins*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ==========================================================================
   CSS VARIABLES & RESET
   ========================================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Root Formatting*/
:root {
  --main-font: "Poppins", sans-serif;
  --heading-color: #000;
  --field-input-bg: #f9fafb;
  --text-color: #fff;
  --btn-color: #284bce;
}

/*Body Formatting*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}
/* ==========================================================================
   NEWSLETTER FORMATTING
   ========================================================================== */

/*Format newsletter title*/
.newsletter-title {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 3rem;
}

/*Format subheading text*/
.subheading-text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 1.25rem;
  margin-top: 30px;
  margin-bottom: 30px;
}

/*Format input form*/
.newsLetter-form {
  background-color: var(--text-color);
  width: 40%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.03),
    0px 8px 12px 0px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}

/*Format email input*/
.emailInput {
  background-color: var(--field-input-bg);
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  width: 85%;
  border-radius: 10px;
  border: 0.5px solid #6c727f;
  padding: 15px 5px;
  margin-bottom: 20px;
}

/*Format submit button*/
.submit {
  background-color: var(--btn-color);
  color: var(--text-color);
  border-radius: 10px;
  border: none;
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 1rem;
  width: 85%;
  margin-bottom: 20px;
  padding: 15px 5px;
}

/*Format helper text*/
.helperText {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 0.875rem;
}
